<form action="/" method="post" enctype="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type="file" name="sampleFile" accept="image/*"/>
    <input type="submit" class="btn btn-primary">
</form>

<div class="card">
    <img class="card__image" src="/img/default.jpg" alt="User Profile">
    <h1 class="card__title">Tsk</h1>
    <div class="card__job">Student</div>
    <p class="card__about">Olá! Eu sou Tanjil e sou um aluno da Escola Secundária Filipa de Vilhena.
        Estou no curso profissional Técnico de Gestão e Programação de Sistemas Informáticos. Gosto de progamar, ouvir música, jogar e viajar pelo mundo!
    </p>
    <button type="button" class="btn btn-primary">View profile</button>
</div>